.card_Entrada{
    width: 50%;
    background-color: #F8F9FA;
    list-style: none;
    border-left: solid 4px #03B898;
    border-radius: 4px 0px 0px 4px;
    padding: 0 1rem;
    
}

.card_Saida{
    width: 50%;
    background-color: #F8F9FA;
    list-style: none;
    border-left: solid 4px #E9ECEF;
    border-radius: 4px 0px 0px 4px;
    padding: 0 1rem;
    
}

.Lixeira{
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #E9ECEF;
    margin: 1rem 0 0 0;
}

.Valor_Card{
    color: #343A40;
    width: 100px;
}

.tipo{
    color: #343A40;
}

@media(min-width: 560px){
    .card_Entrada{
        display: flex;
        margin: 0 0 1rem 0;
        justify-content: space-between;
        width: 70%;
    }

    .card_Saida{
        display: flex;
        margin: 0 0 1rem 0;
        justify-content: space-between;
        width: 70%;
    }

    .Midia_Valor{
        display: flex;
        
    }
}

@media(min-width: 990px){
    .card_Entrada{
        width: 100%;
    }

    .card_Saida{
        width: 100%;
    }

  
}